/* Typography */

body{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 300;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Patua One', serif;
}

/* Wordmark */

/* Hero */

#hero{
    background-image: url(../img/quantumComputer.jpg);
    background-size: cover;
    background-position: 50% 30%;
    background-blend-mode: multiply;
}

/* Background */

